* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #faeee7;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dark-mode {
    background-color: black;
    color: white;
  }
  
.resume-header {
    width: 100%;
}

.nav-bar {
    background-color: #3a4e05;
     z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-logo {
    border: 1px solid #3a4e05;
    border-style: dotted;
    border-radius: 50px;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #cdcdcd;
    border-style: dotted;
}

.menu-bar {
    border: none;
    outline: none;
    /* background: rgba(0, 0, 0, 0.5); */
    background-color: #3a4e05;
}

.menu-bar i {
    font-size: 20px;
    margin-right: 10px;
    color: white;
}

.header-nav-desktop {
    display: none;
}

.popup-menu {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    flex-direction: column;
    background-color: rgba(0,0,0,.8);
    gap: 30px;
    top: 0;
    left: 0; 
    z-index: 1; 
}

.nav-mobile {
    display: block;
    font-size: 2em;
    list-style: none;
    text-align: center;  
}

.nav-mobile li {
    padding: 10px 0;
}

.nav-mobile li a {
    text-decoration: none;
    padding: 10px 0;
    color: #fff;
    font-weight: 700;
    transition: all 0.5s ease-out;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.close {
    align-self: flex-end;
}

.btn-close {
    align-self: flex-end;
    font-size: 3em;
    font-weight: 600;
    color: #fff;
    margin-right: 10px;
}

.resume-content {
    width: 100%;
}

.bio {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bio-pic {
    padding: 10px;
    border: #666763 dotted 3px;
    border-radius: 999px;
    width: 100px;
    height: 100px;
    
}

.bio-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.headline-first {
    font-size: 1.5em;
    font-weight: 700;
    color: #172b4d;
}

.headline-second {
    font-size: 1.2em;
    font-weight: 400;
    color: #247f59;
}

.bio-link ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    justify-content: center;
    margin: 20px 0;
}

.project {
    display: none;
    flex-direction: column;
    width: 100%;
}

.pro-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 8px;
    gap: 20px;
}

.total {
    background-color: #8dbb0d;
    color: #faeee7;
    padding: 10px;
    border-radius: 80px;
}

.project-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.project-card {
    max-width:80%;
    width: 350px;
    height: auto;
    background-color: #fffffe;
    /* border: 2px solid #666763; */
    box-shadow: 1px 10px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.project-card img {
    max-width: 100%;
    width: 360px;
    height: 200px;
    border-radius: 10px;
}

.project-card p {
    max-width: 100%;
    text-align: center;
    padding: 10px;
    font-weight: 600;
}

.project-card ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card li {
    background-color: #666763;
    padding: 10px;
}

.btndetails {
    justify-content: center;
}

.project-card button {
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.project-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(42, 36, 36);
    background: #fffffe;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
   
}

.project-popup img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.exit {
    align-self: flex-end;
    font-size: 30px;
    font-weight: 600;
    margin-right: 20px;
}

.exit span:hover {
    cursor: pointer;
}

.btnsource {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-self: flex-end;
    margin-right:80px;
}

.btnsource a {
    text-decoration: none;
    font-size: 14px;
    padding: 6px;
    background-color: #faeee7;
    border-radius: 10px;
    margin-top: 10px;
}

.project-popup ul {
    padding: 20px;
    align-self: flex-start;
    list-style: none;
}

.project-details {
    width: 100%;
    margin: 20px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    /* color: #1A2236; */
}

.about-me {
    width: 90%;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-me h1 {
    padding: 20px 10px;
    font-weight: 600;
    font-size: 30px;
}

.abt-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
}

.publications {
    width: 100%;
    display: none;
    flex-direction: column;
}

.publication-title {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin: 100px 0 20px;
}

.publication-card {
    color: #6e706e;
    background-color: #fffffe;
    margin-bottom: 1.5rem;
    box-shadow: 1px 10px 10px 0 rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.publication-card img {
    display: none;
}

.papers {
    display: flex;
    flex-direction: column;
}

.article-description {
    text-align: justify;
    line-height: 2;
    margin: 10px;
}

.article-url {
    font-weight: 500;
    color: #6e706e;
    padding: 10px;
    text-decoration: none;
}

.get-in-touch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.contact {
    max-width: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 3px solid #666763;
    padding: 10px;
    box-shadow: 2px 2px 3px #4810b0;
}

.contact button {
    background-color: black;
    color: white;
    padding: 10px;
}

@keyframes glowing {
    0% {
      background-color: #6e706e;
      box-shadow: 0 0 5px #2ba805;
    }
    50% {
      background-color: #a9afa8;
      box-shadow: 0 0 20px #49e819;
    }
    100% {
      background-color: #2ba805;
      box-shadow: 0 0 5px #090d08;
    }
  }

  .resumebtn {
    max-width: 100%;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    animation: glowing 1300ms infinite;
  }

.resume-footer {
    width: 100%;
    position: relative;
    bottom: 0;
}

.fotter-content {
    width: 300px;
    margin: 0 auto;
}

.fotter-content p {
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

@media only screen and (min-width:768px) {
    .resume-header {
        width: 100%;
    }


    .menu-bar {
        display: none;
    }

    .nav-bar {
        width: 100%;
        position: fixed;
        align-items: center;
    }

    .active {
        background-color: #3a4e05;
    }

    .header-nav-desktop {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 10px;
        justify-content: space-between;
    }

    .profile-logo {
        margin-left: 20px;
        animation: roll 3s infinite;
        transform: rotate(360deg);
    }
    @keyframes roll {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      }

    .header-nav-desktop a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        color: white;
        padding: 10px;
        
    }

    .resume-content {
        width: 97%;
        padding: 20px;
    }

    .bio{
        width: 70%;
        position: relative;
        top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        margin: 0 auto;
        gap: 20px;
    }
    .bio-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 20px;

    }

    .bio-pic {
        padding: 10px;
        border: #666763 dotted 3px;
        border-radius: 999px;
        width: 300px;
        height: 300px;   
    }
    
    .about-me {
        margin-top: 70px;
        width: 100%;
    }

    .abt-description {
        width: 80%;
        font-weight: 600;
        line-height: 52px;
    }

    .project {
        width: 80%;
        margin: 0 auto;
    }

    .pro-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 80px 20px 20px;
        gap: 20px;
    }

    .project-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: space-around;
    }
    .project-card {
        width: 45%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    .project-card:hover {
        cursor: pointer;
    }

    .project-card img {
        width: 100%;
        border-radius: 10px;
    }

    .project-card p {
        text-align: center;
        padding: 10px;
        font-weight: 600;
    }

    .project-card ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-card li {
        background-color: #666763;
        padding: 10px;
    }

    .btndetails {
        justify-content: center;
    }

    .project-card button {
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        margin: 20px;
    }

    .project-card button:hover {
       background-color: #666763;
       border: none;
       border-radius: 10px;
       cursor: pointer;
    }

    .project-popup {
        position: absolute;
        width:70%;
        height: 900px;
        left: 90px;
        top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(42, 36, 36);
        background: #fffffe;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
       
    }

    .image-card {
        width:80%;
        height: 500px;
        left: 130px;
        top: 292px;
        margin: 0 auto;
        background-color: #dcdcdc;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .image-card img {
        width: 99.9%;
        height: 500px;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .exit span {
        font-size: 30px;
        font-weight: 600;
        align-self: flex-end;
        margin-right: 20px;
    }

    .exit span:hover {
        cursor: pointer;
    }

    .btnsource {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-self: flex-end;
        margin-right:80px;
    }

    .btnsource a {
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        background-color: #faeee7;
        border-radius: 10px;
        margin-top: 10px;
    }

    .project-popup ul {
        padding: 20px;
        align-self: center;
        list-style: none;
    }

    .project-details {
        width: 500px;
        left: 370px;
        margin-bottom: 20px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: justify;
        /* color: #1A2236; */
    }

    .publications {
        display: none;
        width: 60%;
        margin: 0 auto;
    }

    .publication-card img {
        display: block;
        width: 111px;
        height: 142px;
        border: 1px solid rgba(0,0,0,.15);
        box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
        border-radius: 0;
    }

    .get-in-touch {
        width: 100%;
        height: 80vh;
        margin-top: 50px;
    }
    
    .contact {
        width: 50%;
        text-align: center;
        gap: 50px;
        font-size: 20px;
    }

    .btn-hello {
        width: 60%;
        align-self: center;
    }

    .btn-hello:hover {
        cursor: pointer;
        background-color: #4810b0;
    }

    .social-link {
        margin: 50px;
        font-size: 20px;
    }

    .resume-footer {
        width: 100%;
    }
}